<h1>De mennesker vil gerne opgradere deres bælter:</h1>

<% if @belt_applications.present? %>
	<div class="table-responsive">
  	<table class="table table-striped table-hover">
  	  <thead>
  	    <tr>
  	      <th>Fornavn</th>
  	      <th>Efternavn</th>
  	      <th>Bælt ansøges om</th>
  	      <th>Bevis billede</th>
  	      <th>Actions</th>
					<th></th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	    <% @belt_applications.each do |belt_application| %>
  	      <tr>
  	        <td><%= belt_application.user.first_name %></td>
  	        <td><%= belt_application.user.last_name %></td>
  	        <td><%= belt_application.user.next_belt.color %></td>
  	        <td><%= link_to "Vis", belt_application.picture_proof.url, target: "_blank", class: "btn btn-default btn-xs" %></td>
  	        <td>
  	          <%= button_to "Godkende", approve_admin_belt_application_path(belt_application), method: :post, class: "btn btn-xs btn-success" %>
						</td>
  	        <td>
  	          <%= button_to "Afvise", admin_belt_application_path(belt_application), method: :delete, class: "btn btn-xs btn-danger" %>
  	        </td>
  	      </tr>
  	    <% end %>
  	  </tbody>
  	</table>
	</div>
<% else %>
  <p>Der er ingen bælte ansøgningerne endnu :(</p>
<% end %>
