<% if @belt_applications.present? %>
  <table>
    <thead>
      <tr>
        <th>Email</th>
        <th>Belt applied for</th>
        <th>Proof picture</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @belt_applications.each do |belt_application| %>
        <tr>
          <td><%= belt_application.user.email %></td>
          <td><%= belt_application.user.next_belt.color %></td>
          <td><%= link_to "Picture", belt_application.picture_proof.url %></td>
          <td>
            <%= button_to "Approve", approve_admin_belt_application_path(belt_application), method: :post %>
            <%= button_to "Reject", admin_belt_application_path(belt_application), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no belt applications yet :(</p>
<% end %>
