<div class="col-md-6">
  <h1>
    <%= @technique.name.titleize %>
  </h1>

	<div class="table-responsive">
  	<table class="table table-striped table-hover">
  	  <thead>
  	    <tr>
  	      <th>Langt navn</th>
  	      <th>Emne</th>
  	      <th>Kup</th>
  	    </tr>
  	  </thead>
  	  <tbody>
  	      <tr>
  	        <td><%= @technique.long_name.titleize %></td>
  	        <td><%= @technique.topic.titleize %></td>
  	        <td><%= @technique.belt.degree %></td>
  	      </tr>
  	  </tbody>
  	</table>
	</div>

  <h4>Beskrivelse:</h4>
  <p>
  <%= simple_format @technique.description %>
  </p>

  <% if @technique.notes.where(user: current_user).present? %>
		<h4>Noter:</h4>
      <% @technique.notes.where(user: current_user).each do |note| %>
				<div><%= note.text %>
          <%= link_to "Slet", [note.technique.belt, note.technique, note], method: :delete, class: "btn btn-xs btn-danger right" %>
				</div>
      <% end %>
  <% end %>
<hr>
  <%= simple_form_for [@technique.belt, @technique, @technique.notes.new] do |f| %>
    <h5>Ny note</h5>
    <div class="form-field">
			<%= f.input :text, label: false, input_html: { class: "form-control" } %>
		</div>
    <%= f.submit :class => 'btn btn-default'%>
  <% end %>

</div>

<aside class="col-md-6">
  <% if @technique.youtube_video_url.present? %>
    <iframe
       src="<%= @technique.youtube_embed_url %>"
       frameborder="0"
       allowfullscreen></iframe>
  <% else %>
    <%= image_tag "video_placeholder", class: "video-placeholder" %>
  <% end %>
	
  <h4><%= link_to "Tilbage til oversigt", root_path, class: "" %></h4>
	
</aside>




