<h1>
	<%= @technique.name %>
</h1>

<h2>
	<%= @technique.topic %>
</h2>
<h2>
	<%= @technique.belt.degree %>
</h2>

<p>
	<%= @technique.description %>
</p>

<aside>In here videos an pics</aside>



<%= link_to "Home", root_path %>