<%= simple_form_for [:admin, technique] do |f| %>
  <div class="form-group">
    <%= f.input :name, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :description %>
  </div>

  <div class="form-group">
    <%= f.input :youtube_video_url %>
  </div>

  <div class="form-group">
    <%= f.association :belt, label_method: :color %>
  </div>

  <div class="form-group">
    <%= f.input :topic, collection: Technique.topics.map { |topic_name, _| [topic_name.humanize, topic_name] } %>
  </div>

  <div class="form-group">
    <%= f.button :submit %>
  </div>
<% end %>
