<%= simple_form_for [:admin, technique] do |f| %>
  <div class="form-group">
    <%= f.input :name, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :long_name, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :description, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :youtube_video_url, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.association :belt, label_method: :color, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.input :topic, collection: Technique.topics.map { |topic_name, _| [topic_name.humanize, topic_name] }, input_html: { class: "form-control" } %>
  </div>

  <div class="form-group">
    <%= f.button :submit, class: "btn btn-default" %>
  </div>
<% end %>
