<div class="belt-tile-wrap">

<h1>Se alle dine techniker!</h1>

<!-- TODO: Make only belt show that have assigned techniques -->
  <% @belts.each do |belt| %>
    <div class="belt-tile">

      <a href="#" class="kup <%= unless current_user.has_belt?(belt) then "disabled" end %>">
        <%= belt.degree.titleize %> - <%= belt.color %>
      </a>

      <% if current_user.next_belt == belt && current_user.belt_application.nil? %>
        <%= link_to "Anmod næste bælte", new_belt_application_path, class: "right apply-btn btn btn-sm btn-default" %>
      <% end %>

      <% Technique.topics.each do |topic, _| %>
        <% next unless belt.techniques.where(topic: topic).exists? %>

        <ul class="category-wrap">
          <li class="category">
            <span class="pointer"><%= topic.titleize %></span>

            <ul class="technique-wrap" style="display: none">
              <% belt.techniques.where(topic: topic).each do |technique| %>
                <li>
                  <%= link_to technique.name, [technique.belt, technique] %>
                </li>
              <% end %>
            </ul>
          </li>
        </ul>
      <% end %>

    </div>
  <% end %>
</div>
