<!DOCTYPE html>
<html>
  <head>
    <title>Gisul</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
  </head>

  <body>

<div class="page-wrap">

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="title float-block">
      <a href="/" class="logo left">기술</a>
    </div>


    <div class="container">
      <%= yield %>
    </div>

</div>

    <nav>
      <%= image_tag("shinsonhapkido_logo.png") %>
      <span>Shinson Hapkido - Pensum</span>

      <% if current_user.try(:admin?) %>
        <div class="admin-nav">
          <%= link_to "Users", admin_users_path %> |
          <%= link_to "Techniques", admin_techniques_path %> |
          <%= link_to "Applications", admin_techniques_path %>
        </div>
      <% end %>
      <div class="right">
        <% if signed_in? %>
          <p>Annyeong Haseyo, <a href="#"><%= current_user.first_name %></a>
            <%= button_to 'Sign out', sign_out_path, method: :delete, class: 'btn btn-default btn-xs' %>
          </p>
        <% else %>
          <%= link_to 'Sign in', sign_in_path %> |
          <%= link_to 'Sign up', sign_up_path %>
        <% end %>
      </div>
    </nav>

  </body>
</html>
